.search-form {
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.search-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 400px;
}
  
.search-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.search-message {
  color: green;
  font-size: 1em;
  
}

.input-error {
  border: 2px solid red !important;
  background-color: #ffe6e6;
}

.error-message {
  color: red;
  font-size: 0.9em;
}

.search-form button {
  padding: 10px 20px;
  margin-bottom: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.search-form button:hover {
  background: #0056b3;
}

.search-form button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.reservation-status {
  margin-top: 10px;
  color: green;
}